/* Global Variables  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

:root {
  /* Primary colors  */

  --Bright-Blue: #3abcfd;
  --Background-left: #57ddff;
  --Background-right: #c058f3;

  /* Neutral colors  */
  /* Light Theme  */

  --Very-Light-Gray: #fafafa;
  --Very-Light-Grayish-Blue: #e4e5f1;
  --Light-Grayish-Blue: #d2d3db;
  --Dark-Grayish-Blue: #9394a5;
  --Very-Dark-Grayish-Blue: #484b6a;

  /* Dark Theme  */

  --Very-Dark-Blue: #161722;
  --Very-Dark-Desaturated-Blue: #25273c;
  --Light-Grayish-Blue: #cacde8;
  --Light-Grayish-Blue-hover: #e4e5f1;
  --Dark-Grayish-Blue: #777a92;
  --Very-Dark-Grayish-Blue: #4d5066;
  --Very-Dark-Grayish-Blue: #141418;
}

body,
html {
  font-size: 1.125rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: var(--Very-Dark-Blue);
  transition: 0.5s;
}

button {
  all: unset;
}

*:focus {
  outline: none;
}

ol li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/* Body  */

.light-mode
  :is(
    section,
    nav input,
    .todo-item1,
    nav,
    nav input:focus,
    .inner-content,
    .todo-bottom
  ) {
  background-color: var(--Very-Light-Grayish-Blue);
}

.light-mode header {
  background-image: url(/assests/images/bg-desktop-light.jpg);
  transition: 300;
}

/* .light-mode
  section,
.light-mode nav input,
.light-mode .todo-item1,
.light-mode .todo-bottom,
.light-mode nav,
.light-mode nav input:focus {
  background-color: var(--Very-Light-Grayish-Blue);
} */

header {
  background: linear-gradient(
    to right,
    var(--Background-left),
    var(--Background-right)
  );
  width: 100%;
  height: 35dvh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assests/images/bg-desktop-dark.jpg);
  transition: 300;
}

.floating-banner {
  font-size: 1.2rem;
  color: var(--Very-Light-Grayish-Blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7%;
  width: 50%;
  margin: 0 auto;
}

.floating-banner button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.ri-moon-line {
  display: none;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  color: var(--Dark-Grayish-Blue);
  font-size: 0.9rem;
  width: 40%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 30%;
  border: 1px solid var(--Very-Dark-Desaturated-Blue);
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-radius: 5px;
  padding: 10px 10px;
  transition: 300;
}

nav input {
  background-color: var(--Very-Dark-Desaturated-Blue);
  border: 0px transparent;
  font-size: 0.9rem;
  width: 100%;
}

nav input:focus {
  background-color: var(--Very-Dark-Desaturated-Blue);
  color: var(--Dark-Grayish-Blue);
  font-size: 0.9rem;
  box-sizing: none;
}

.ri-circle-line {
  font-size: 1.2rem;
}

section {
  height: 100dvh;
  background-color: var(--Very-Dark-Blue);
}

.checkmark {
  width: 2rem;
  height: 2rem;
  border-radius: 1.5rem;
}

#body-closure {
  font-size: 0.7rem;
  width: 40%;
  margin: 0 auto;
  padding: 0 0 5px 0;
  color: var(--Dark-Grayish-Blue);
  box-shadow: 0 0 100px var(--Very-Dark-Blue);
  border-radius: 0 0 5px 5px;
  position: relative;
  top: -7%;
}

#body-closure ol li a {
  color: inherit;
}

#body-closure ol li a:hover {
  color: var(--Light-Grayish-Blue-hover);
}

.todo-item-container {
  border-radius: 5px 5px 0 0;
}

.todo-item-container .todo-item1:nth-of-type(1) {
  border-radius: 5px 5px 0 0;
}

.todo-item1 {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--Dark-Grayish-Blue);
  padding: 15px;
  background-color: var(--Very-Dark-Desaturated-Blue);
}

.todo-item1 p {
  /* text-decoration: line-through; */
  color: var(--Very-Light-Grayish-Blue);
}

.todo-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-radius: 0 0 5px 5px;
}

.inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 6px 0;
}

.inner-content li a {
  font-size: inherit;
}

.inner-content li:nth-child(1) {
  color: var(--Bright-Blue) !important;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: var(--Dark-Grayish-Blue);
  /* position: absolute;
  top: 95%;
  left: 40%; */
  margin-top: 2rem;
}

@media screen and (max-width: 480px) {
  .floating-banner {
    flex-direction: column-reverse;
    gap: 2rem;
    padding-top: 1%;
  }

  nav {
    top: 25%;
    width: 90%;
    left: 5%;
  }

  #body-closure {
    top: -3%;
    width: 90%;
    left: 5%;
    margin: 0;
  }

  .inner-content {
    position: absolute;
    bottom: -35%;
    border-radius: 5px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 15px;
    width: 100%;
    left: 0;
  }

  footer p {
    position: absolute;
    bottom: -40%;
    left: 30%;
    text-align: center;
  }
}
